* {
  font-family: "Georgia", "Arial", "san-serif";
  background-color: lightgray;
}

button {
  padding: 15px;
  margin: 15px;
  border: 3px solid darkblue;
  background-color: darkgray;
  font-size: 16px;
}

#adjective, #noun, #verb {
  display: inline;
}

