* {
  font-family: 'Georgia', 'Arial', 'san-serif';
  background-color: #C7EAEC;
}

button {
  padding: 10px;
  margin: 10px;
  border: 3px solid #509397;
  background-color: #AEF6FA;
  font-size: 14px;
}

#adjective, #noun, #verb {
  display: inline;
}

